<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vehicledashboard.ford.com.sampleapplicationmvvm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LauncherActivity" />

        <service android:name=".Services.MyIntentService" />
        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.BoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.BoundServiceActivity" />
        <activity android:name=".Activities.CustomLinearLayoutActivity" />
        <activity android:name=".Activities.RecyclerViewActivity"></activity>
        <activity android:name=".Activities.ActivityLifecycleFirstActivity">

        </activity>
        <activity android:name=".Activities.ActivityLifecycleSecondActivity" />
        <activity android:name=".Activities.FragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>